.custom-toolbar {
    border-top-left-radius: 17px !important;
    border-top-right-radius: 17px !important;
    padding: 10px !important;
    border-bottom: 1px solid #ccc;
    margin: 0 "3px" !important;
  }
  
  .custom-toolbar .rdw-option-wrapper  {
    border: '3px solid #ccc' !important;
    padding: '20px' !important;
  }
  
  
  .sideBar{
    width: 20%;
  }
  
  .bubble1{
    position: absolute;
    z-index: 1;
    top: -13px;
    left: -10px;
    background: rgba(255, 255, 255, 0.176);
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }
  .bubble2{ 
    position: absolute;
    top: 20px;
    left: 40px;
    background: rgba(255, 255, 255, 0.176);
    width: 30px;
    height:30px;
    border-radius: 50%;
  }